<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="utf-8">
</head>
<body>
<a href="/admin" class="btn btn-primary mx-1 mt-1 mb-3">Wróć</a>
<div class="row">
<div class="col-md-6 ml-2">
<form action="#" th:action="@{/addcar}" enctype="multipart/form-data" th:object="${car}" method="post">

    <div class="row">
        <div class="form-group col-md-6">
            <label for="marka" class="col-form-label">Marka</label>
            <input type="text" th:field="*{mark}" class="form-control" id="marka" placeholder="Marka" required>
        </div>
        <div class="form-group col-md-6">
            <label for="model" class="col-form-label">Model</label>
            <input type="text" th:field="*{model}" class="form-control" id="model" placeholder="Model" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="kolor" class="col-form-label">Kolor</label>
            <input type="text" th:field="*{color}" class="form-control" id="kolor" placeholder="Kolor" required>
        </div>
        <div class="col-md-6">
            <label for="wypozyczalnia" class="col-form-label">Wypożyczalnia</label>
            <select class="form-control" id="wypozyczalnia" th:field="*{rental.id}">
                <option th:each="rental: ${rentals}" th:value="${rental.id}" th:text="${rental.city+' '+rental.address}"></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="rok" class="col-form-label">Rocznik</label>
            <input type="number" th:field="*{year}" class="form-control" id="rok" placeholder="Rok" required>
        </div>
        <div class="col-md-6">
            <label for="rok" class="col-form-label">Cena</label>
            <input type="number" th:field="*{price}" class="form-control" id="cena" placeholder="Cena" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="file" class="col-form-label">Zdjęcie</label>
            <!--<input type="text" th:field="*{photo}" class="form-control" id="link" placeholder="Link" required>-->
            <input type="file" name="file" id="file" class="form-control-file" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mt-5 col align-self-center">
            <input type="submit" class="btn btn-primary" value="Dodaj samochód">
        </div>
    </div>
</form>
</div>
</div>
</body>
</html>
