<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="row pl-3 pr-3">
<div class="col-sm-6 pr-3">
<a href="/addcarview" class="btn btn-primary mb-3 mt-5">Dodaj pojazd</a>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th> Marka </th>
        <th> Model </th>
        <th> Kolor </th>
        <th> Wypożyczalnia </th>
    </tr>
    </thead>
    <tbody>
    <!--<tr th:if="${cars.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>-->
    <tr th:each="car: ${cars}">
        <td><span th:text="${car.mark}"> Title </span></td>
        <td><span th:text="${car.model}"> Title </span></td>
        <td><span th:text="${car.color}"> Title </span></td>
        <td><span th:text="${car.getRental().city}"> Title </span></td>
        <td><a th:href="@{/editcar/{id}(id=${car.id})}" class="btn btn-primary">Edytuj</a></td>
        <td><a th:href="@{/deletecar/{id}(id=${car.id})}" class="btn btn-primary">Usuń</a></td>
    </tr>
    </tbody>
</table>
</div>
<div class="col-sm-6 pl-3">
    <a href="/" class="btn btn-primary mb-3 mt-5">Wyloguj</a>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th> Imie </th>
                <th> Nazwisko </th>
                <th> Telefon </th>
                <th> Email </th>
            </tr>
            </thead>
            <tbody>
            <!--<tr th:if="${cars.empty}">
                <td colspan="2"> No Books Available </td>
            </tr>-->
            <tr th:each="user: ${users}">
                <td><span th:text="${user.fname}"> Title </span></td>
                <td><span th:text="${user.sname}"> Title </span></td>
                <td><span th:text="${user.phone}"> Title </span></td>
                <td><span th:text="${user.email}"> Title </span></td>
                <td><a th:href="@{/edituser/{id}(id=${user.id})}" class="btn btn-primary">Edytuj</a></td>
                <td><a th:href="@{/deleteuser/{id}(id=${user.id})}" class="btn btn-primary">Usuń</a></td>
            </tr>
            </tbody>
        </table>
</div>
</div>
<div class="row col-sm-6">
    <div class="col-sm-6">
        <a href="/registerRental" class="btn btn-primary mb-3 mt-5">Dodaj wypożyczalnie</a>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th> Miasto </th>
                <th> Adres </th>
                <th> Telefon </th>
                <th> Email </th>
            </tr>
            </thead>
            <tbody>
            <!--<tr th:if="${cars.empty}">
                <td colspan="2"> No Books Available </td>
            </tr>-->
            <tr th:each="rental: ${rentals}">
                <td><span th:text="${rental.city}"> Title </span></td>
                <td><span th:text="${rental.address}"> Title </span></td>
                <td><span th:text="${rental.phone}"> Title </span></td>
                <td><span th:text="${rental.email}"> Title </span></td>
                <td><a th:href="@{/editrental/{id}(id=${rental.id})}" class="btn btn-primary">Edytuj</a></td>
                <td><a th:href="@{/deleterental/{id}(id=${rental.id})}" class="btn btn-primary">Usuń</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>