<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<a href="/admin" class="btn btn-primary mx-1 mt-1 mb-3">Wróć</a>
<div class="container my-5">
    <h2 class="mb-5">Edytuj</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/updatecar/{id}(id=${car.id})}" th:object="${car}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="marka" class="col-form-label">Marka</label>
                        <input type="text" th:field="*{mark}" class="form-control" id="marka" placeholder="Marka" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="model" class="col-form-label">Email</label>
                        <input type="text" th:field="*{model}" class="form-control" id="model" placeholder="Model" required>
                        <input type="hidden" th:field="*{user.id}" th:value="${car.user.id}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    <label for="wypozyczony" class="col-form-label">Wypozyczony</label>
                    <select class="form-control" id="wypozyczony" th:field="*{state}">
                        <option th:value="0">NIE</option>
                        <option th:value="1">TAK</option>
                    </select>
                    </div>
                    <div class="col-md-6">
                    <label for="kolor" class="col-form-label">Kolor</label>
                    <select class="form-control" id="kolor" th:field="*{color}">
                        <option th:value="Czerwony">Czerwony</option>
                        <option th:value="Zielony">Zielony</option>
                        <option th:value="Czarny">Czarny</option>
                        <option th:value="Niebieski">Niebieski</option>
                    </select>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-md-6">
                        <label for="wypozyczalnia" class="col-form-label">Wypożyczalnia</label>
                        <select class="form-control" id="wypozyczalnia" th:field="*{rental.id}">
                            <option th:each="rental: ${rentals}" th:value="${rental.id}" th:text="${rental.city+' '+rental.address}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Zaktualizuj">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>